<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.SunnySynths.CtrlrX</string>
    <key>CFBundleName</key>
    <string>CtrlrX - Sunny Synths</string>
    <key>CFBundleDisplayName</key>
    <string>CtrlrX - Sunny Synths</string>
    <key>CFBundlePackageType</key>
    <string>TDMw</string>
    <key>CFBundleSignature</key>
    <string>PTul</string>
    <key>CFBundleShortVersionString</key>
    <string>5.6.36.1</string>
    <key>CFBundleVersion</key>
    <string>5.6.36.1</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
  </dict>
</plist>
